<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div><marquee scrollamount="11" direction="left" >

    <img class="floatingLeft ip"src="assets/5.png" alt="">

    <img class="floatingLeft op"src="assets/1.png" alt="">
    
    <img class="floatingLeft"src="assets/2.png" alt="">
    
    <img class="floatingLeft" src="assets/3.png" alt="">

    <img class="floatingLeft"src="assets/4.png" alt="">

    <img class="floatingLeft"src="assets/6.png" alt="">

</marquee>
<marquee  class="mqtxt" width="400"  scrollamount="20" scrollhiding="500" ><h1>Top deals on Mobiles</h1></marquee>
</div>

    <div style="background-color: #080808;">
        
        <video [muted]= "'muted'" autoplay loop id="myVideo" class="vid">
            <source src="../../assets/phoneAd.mp4" type="video/mp4">">
        </video>
    <button class="buy btn" routerLink="/product2">Buy Now</button>
    </div>

<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class=" mt-4 col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul style="color: white;">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Affiliate Program</a></li>
                </ul>
            </div>
            <div class=" mt-4 footer-col col-md-3 col-sm-6 item">
                <h4>Get Help</h4>
                <ul style="color: white;">
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col mt-4 col-md-3 col-sm-6 item">
                <h4>Follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-instagram"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-linkedin"></i></a> &nbsp;
                </div>
            </div>
        </div>
    </div>
</footer>


