.card {
    border: none;
    width: 500px;
    padding: 40px;
    left: 105%;
    top: 65%;
    display: block;
    display: block;
    color: white;
    
    transform: translate(-50%,-50%);
    background: hsla(205, 46%, 30%, 1);
}

.reg {
    display: flex;
    justify-content: flex-end;
    margin-top: -28px;
    
}

#emailHelp {
    color: coral;
}