<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself.</h6>
                </div>
                <form >
                    <form (ngSubmit)="addSignup(myForm.value)" #myForm="ngForm">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Name</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp" [(ngModel)]="signupObj.name" required>
                        
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" [(ngModel)]="signupObj.email" required>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" id="exampleInputPassword1" [(ngModel)]="signupObj.password" required>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Signup</button>
                        <span class="reg"><p>Already a user ?</p> &nbsp; <a routerLinkActive="active" routerLink="/userlogin">Login</a></span>
                      </form>
                </form>
            </div>
        </div>
    </div>
</div>